Clases/__pycache__/cConexion.cpython-310.pyc
Clases/__pycache__/cConfig.cpython-310.pyc
Clases/__pycache__/cTabla.cpython-310.pyc
Clases/__pycache__/cVentanaLog.cpython-310.pyc
Clases/__pycache__/cVentanaPrin.cpython-310.pyc
Paginas/__pycache__/Ui_log.cpython-310.pyc
Paginas/__pycache__/Ui_mainwindow.cpython-310.pyc
